.hardware {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
img {
  width: 5rem;
  height: 5rem;
}

h3 {
  font-style: italic;
}
.container{
  max-width: 85%;
}
.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #000000;
  font-size: 1.25rem;
}
